<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.rlill.modelmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/opera"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 

        android:vmSafeMode="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true" >

        <activity
            android:name="de.rlill.modelmanager.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="de.rlill.modelmanager.PreferenceActivity" />
        <activity
            android:name="de.rlill.modelmanager.dialog.AccountDetailDialog"
            android:label="@string/title_account_detail"
            android:parentActivityName="de.rlill.modelmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.rlill.modelmanager.MainActivity" />
        </activity>
        <activity
            android:name="de.rlill.modelmanager.dialog.ModelNegotiationDialog"
            android:label="@string/title_model_detail"
            android:parentActivityName="de.rlill.modelmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.rlill.modelmanager.MainActivity" />
        </activity>
        <activity
            android:name="de.rlill.modelmanager.dialog.CreditDialog"
            android:label="@string/title_model_detail"
            android:parentActivityName="de.rlill.modelmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.rlill.modelmanager.MainActivity" />
        </activity>
        <activity
            android:name="de.rlill.modelmanager.dialog.CarMaintenanceDialog"
            android:label="@string/title_car_maintenance"
            android:parentActivityName="de.rlill.modelmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.rlill.modelmanager.MainActivity" />
        </activity>
        <activity
            android:name="de.rlill.modelmanager.dialog.CarShoppingDialog"
            android:label="@string/title_car_shopping"
            android:parentActivityName="de.rlill.modelmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.rlill.modelmanager.MainActivity" />
        </activity>
        <activity
            android:name="de.rlill.modelmanager.dialog.MovieproductionDialog"
            android:label="@string/title_movieproduction"
            android:parentActivityName="de.rlill.modelmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.rlill.modelmanager.MainActivity" />
        </activity>
        <activity
            android:name="de.rlill.modelmanager.dialog.MovieModelSelectDialog"
            android:label="@string/title_movieproduction"
            android:theme="@android:style/Theme.Dialog"
            android:parentActivityName="de.rlill.modelmanager.dialog.MovieproductionDialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.rlill.modelmanager.MainActivity" />
        </activity>
        <activity
            android:name="de.rlill.modelmanager.dialog.GameNamedetectDialog"
            android:label="@string/labelPlayGame1"
            android:parentActivityName="de.rlill.modelmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.rlill.modelmanager.MainActivity" />
        </activity>
        <activity
            android:name="de.rlill.modelmanager.dialog.GameFacedetectDialog"
            android:label="@string/labelPlayGame2"
            android:parentActivityName="de.rlill.modelmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.rlill.modelmanager.MainActivity" />
        </activity>

	</application>

</manifest>
